<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LocalConfFileName" value="uplink.cfg"/>
    <add key="ServerIP" value="192.168.1.4"/>
    <add key="ServerPort" value="22"/>
    <add key="ServerUser" value="root"/>
    <add key="ServerPassword" value="root"/>
    <add key="ServerConfPath" value="/etc/speech/simulator/data_content/config/"/>
  </appSettings>
</configuration>