<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LocalConfPath" value="D:/cfgfile/"/>
    <add key="LocalConfFileName" value="uplink.cfg"/>
    <add key="ServerIP" value=""/>
    <add key="ServerPort" value="22"/>
    <add key="ServerUser" value="root"/>
    <add key="ServerPassword" value=""/>
    <add key="ServerConfPath" value="/home/miccfg/"/>
  </appSettings>
</configuration>